/* Overall container objects */

.gh-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 15%);
  /* border: 1px solid #222; */
  border-radius: 0.375rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  color: #f3f3f3;
  padding: 1rem;
  width: 350px;
  text-align: left;
}

.gh-card-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.gh-card-header .header-link {
  display: flex;
  align-items: center;
  gap: 6px;

  margin-left: auto;

  padding: 4px;
  border-radius: 5px;

  background-color: hsl(0, 0%, 20%);
  color: #f3f3f3 !important;
}

.gh-card-header .header-link:hover {
  text-decoration: none !important;
  background-color: hsl(0, 0%, 25%);
}

.gh-card-body {
  width: 100%;
  text-wrap: wrap;
  overflow-x: hidden;
  padding: 0.5rem 0;
  color: #f3f3f3;
  text-align: left;
  height: 100%;
}


/* Header Objects */

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gh-repo-name {
  color: #4BA7F8;
  font-weight: 700;
}

.project-title {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 1.05rem;
}

/* Body Objects */

/* Footer Objects */

.gh-card-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;

  color: #f3f3f3;
  user-select: none;
}

.gh-card-circle {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border-radius: 50%;
  display: inline-block;
  background-color: #4BA7F8;
}

/* https://github.com/ozh/github-colors/blob/master/colors.json */
.gh-card-lang-go { background-color: #00ADD8; }
.gh-card-lang-html { background-color: #E34F26; }
.gh-card-lang-javascript { background-color: #F1E05A; }
.gh-card-lang-python { background-color: #3572A5; }
.gh-card-lang-typescript { background-color: #3178c6; }
.gh-card-lang-rust { background-color: #dea584; }
.gh-card-lang-shell { background-color: #89e051; }
.gh-card-lang-svelte { background-color: #ff3e00; }

.gh-card-star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
}

.gh-card-star-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.gh-card-forks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
}

.gh-card-fork-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.octicon {
  fill: #f3f3f3;
}
