/* Header Element Styling*/

.metakgp-logo {
  height: 2.5em;
  margin: 1.8em 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.header-inner{
  display: flex;
  width: 100%;
  max-width: 1100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  gap: 3rem;
  box-sizing: border-box;
}
.nav-bar {
  float: right;
  display: flex;
  gap: 0.3rem;
  padding: 3px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff66;
  border-radius: 20px;
  background: #2f2f2f;
  backdrop-filter: blur(10px);
}

.nav-element {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #ffffff80;
  border-radius: 20px;
  border: 1px solid transparent;
  font-weight: bold;
  text-decoration: none;
  transition: background 300ms, color 300ms;
  white-space: nowrap;
  overflow: hidden;
}

.nav-element:hover {
  background: rgba(256, 256, 256, 0.8);
  border-color: #000;
  color: #000000;
}

.active-nav-element {
  box-sizing: border-box;
  padding: 4px 24px;
  color: #000;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid transparent;
  font-weight: bold;
  text-decoration: none;
  transition: all 300ms ease;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
  }

  .nav-bar {
    justify-content: space-between;
    width: 100%;
    padding: 6px;
  }

  .nav-element,
  .active-nav-element,
  .slack-link {
    padding: 6px 12px;
    font-size: 1rem;
    white-space: nowrap;
  }

  .metakgp-logo {
    font-size: 0rem;
    text-align: center;
    visibility: hidden;
  }
}
