/* Header Element Styling*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  padding-right: 4rem;
  padding-left: 4rem;
  gap: 3rem;
}

.nav-bar {
  float: right;
  display: flex;
  padding: 3px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff66;
  border-radius: 20px;
  background: #2f2f2f;
  backdrop-filter: blur(10px);
}

.nav-element {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #ffffff80;
  border-radius: 20px;
  border: 1px solid transparent;
  font-weight: bold;
  text-decoration: none;
  transition: background 300ms, color 300ms;
  white-space: nowrap;
  overflow: hidden;
}

.nav-element:hover {
  background: rgba(256, 256, 256, 0.8);
  border-color: #000;
  color: #000000;
}

.active-nav-element {
  box-sizing: border-box;
  padding: 4px 24px;
  color: #000;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid transparent;
  font-weight: bold;
  text-decoration: none;
  transition: all 300ms ease;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slack-link {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #4a124c;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #ffffff66;
  font-weight: bold;
  text-decoration: none;
  transition: background 300ms, color 300ms;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.slack-link:hover {
  background-color: #fff;
  color: #4a124c;
}
