/* Hero Section Styling */

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
}

.main-header {
  text-transform: uppercase;
  font-weight: 900;
  text-align: left;
  font-family: "Titillium Web", sans-serif;
  line-height: 0.01;
  font-size: clamp(4rem, 5vw, 6rem);
}

.hero-header-container {
  padding: 0.75rem 0;
  padding-right: 0.5rem;
  white-space: nowrap;
  width: 50%;
}

.hero-description {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-align: left;
  color: #fcfcfcbf;
  text-wrap: wrap;
}

.hero-image-container {
  margin: 0;
  margin-top: 2rem;
  max-width: 50%;
  padding: 0 4rem;
  height: auto;
}

.hero-image {
  max-width: 100%;
  max-height: 45vh;
  height: auto;
  margin: 0;
  padding: 0;
}

.hero-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
  padding: 2rem 0;
  width: auto;
  max-width: 300px;
}

.samesite-links {
  display: flex;
  gap: 0.4rem;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
}

.contribute-button, .project-button, .featured-button {
  width: 100%;
  padding: 0 0.75rem;
  border-radius: 50px;
  font-size: 1rem;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff66;
  background: #2f2f2f;
  color: #fff;
  font-weight: 700;
  transition: background 300ms, color 300ms, scale 300ms;
  text-decoration: none;
  text-align: center;
}

.contribute-button:hover, .project-button:hover {
  color: #2f2f2f;
  background-color: #fff;
}

.project-button {
  border-radius: 50px 0 0 50px;
}

.contribute-button {
    border-radius: 0 50px 50px 0;
}

.slack-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  border-radius: 50px;
  background-color: #4a124c;
  color: #fff;
  border: 1px solid #ffffff66;
  font-weight: bold;
  text-decoration: none;
  transition: background 300ms, color 300ms;
}

.slack-link:hover {
  background-color: #fff;
  color: #4a124c;
}

@media screen and (max-width: 480px) {
  .hero-container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
  }

  .hero-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    white-space: normal;
    text-align: center;
  }

  .main-header {
    font-size: clamp(3rem, 8vw, 4rem);
    line-height: 0.8;
    text-align: left;
    margin: 1rem 0;
  }

  .hero-description {
    margin: 2rem 0;
    font-size: 1rem;
    text-align: left;
  }

  .hero-button-container {
    width: 100%;
    gap: 0.4rem;
    padding: 0;
  }

  .project-button,
  .contribute-button {
    font-size: 0.9rem;
    padding: 0 0.4rem;
  }

  .slack-link {
    gap: 0.4rem;
    width: 100%;
    padding: 0;
  }

  .hero-image-container {
    padding: 0;
    max-width: 100%;
    text-align: center;
  }

  .hero-image {
    max-width: 80%;
    height: auto;
  }
}
