.App {
  text-align: center;
}

.metakgp-logo {
  float: left;
}

.bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.page-container {
  margin: 50px 15%;
  /* width: 100%; */
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  text-wrap: wrap;
}

.topic-section {
  width: 100%;
  text-align: left;
}

.section-header-left {
  /* Make Sure parent width is 100%*/
  width: 100%;
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: clamp(3rem, 2vw, 4rem);
  text-align: left;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Cards Styling */

.stats-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  gap: 1rem;
}

/* About Section Styling */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.about-title-container {
  text-align: right;
  width: 100%;
}

.about-title {
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Titillium Web", sans-serif;
  font-size: 4rem;
}

.about-left {
  width: 100%;
  padding: 8px;
}

.about-right {
  width: 100%;
  padding: 8px;
}

/*Footer Section Styling*/
.footer-section {
  font-family: "Space Mono", monospace;
  display: flex;
  flex-wrap: wrap;
  background-color: #1a1717;
  justify-content: center;
  padding-top: 5px;
}

.footer-col {
  width: 33%;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
  padding: 9px;

  margin: 5px;
  border-radius: 25%;
}

.social-icons a i {
  font-size: 1.7rem;
  color: white;

}

.privacy-policy a {
  text-decoration: none;

}

/*hover effect on social media icons */
.social-icons a:hover {
  background-color: #fff;
  transition: .5s;
}

.social-icons a:hover i {
  color: black;
  transition: .5s;
}
