.contri-intro-section {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.contri-intro {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  width: 100%;
}

.contri-intro-container {
  width: 100%;
}

.contri-intro-para {
  width: 100%;
  font-size: 1.1rem;
}

.contri-intro-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contri-intro-image {
  max-width: 100%;
  height: 200px;
}

/* Mobile Responsive */
@media (max-width: 480px) {
  .contribution-container {
    width: 95%;
    padding: 15px;
  }

  .contri-intro {
    margin-top: 2rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    max-width: 100%;
  }
}
