.language-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  overflow-x: auto;
  white-space: nowrap;
}

.filter-container {
  display: flex;
  width: 100%;
  gap: 0.8rem;
  padding: 10px 0;
  flex-direction: column;
}

.search-sort-row {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.filter-button {
  border: none;
  padding: 8px 15px;
  /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); */
  font-size: 14px;
  cursor: pointer;
  background-color: #2f2f2f;
  color: #f3f3f3;
  border-radius: 0.375rem;
  transition: all 0.3s ease;
}

.filter-button:hover {
  background-color: #4d4d4d;
}

.filter-button.active {
  background-color: #4d4d4d;
  font-weight: bold;
}

.results-info {
  color: #a0a0a0;
  font-size: 14px;
  margin: 10px 0;
  font-style: italic;
}

@media (max-width:1024px) {
  .filter-container {
    flex-direction: column;
  }
  
  .search-sort-row {
    flex-direction: column;
    width: 100%;
  }
}
