.language-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 20px;
  padding: 10px;
  /* background: #f5f5f5; */
  border-radius: 10px;
  overflow-x: auto;
  white-space: nowrap;
}

.filter-button {
  border: none;
  padding: 8px 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  cursor: pointer;
  background: #f3f3f3;
  /* border-radius: 20px; */
  transition: all 0.3s ease;
}

.filter-button:hover {
  background: #bbb;
}

.filter-button.active {
  background: #4BA7F8;
  color: #f3f3f3;
  font-weight: bold;
}
