.quote {
    display: flex;
    padding: 5% 0 0 5%;
    font-size: 1.4rem;
    color: #cfcfe6;
    font-family: 'Merriweather', serif;
    line-height: 2rem;
}

.dc-image {
    display: flex;
    justify-content: end;
}

.dc-image img {
    width: 20%;
    border-radius: 12px;
}

.button {
    padding: 1rem;
    font-size: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff66;
    border-radius: 20px;
    background: #fff;
    color: #000;
    font-weight: 700;
    transition: background 300ms, color 300ms, scale 300ms;
    cursor: pointer;
}

.button:hover {
    scale: 1.08;
}

.button-container {
    margin: 1rem;
}

@media (max-width:729px) {
    .dc-image {
        display: none;
    }
}
