:root{
  --left_background: #28313b;
  --right_background: #485461;
  --text: #fcfcfc;
  --mono-primary: 'Inconsolata', monospace;
  --title_color: white;
  --hero_text: #fcfcfcbf;
  --dc_image_text: #9ca3af;
  --link_color: #93aff1;
}

[data-theme="light"]{
  --left_background: #c1c1bf;
  --right_background: #ededea;
  --text: #393f45;
  --title_color: #485461;
  --hero_text: #2f2f2f;
  --dc_image_text: #2f2f2f;
  --link_color: #376cea;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* background: #2f2f2f69; */
  background: linear-gradient(90deg, var(--left_background), var(--right_background));
  /* background: linear-gradient(90deg, #2c3e50, #000000); */
  animation: gradient_anim 23s ease infinte;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-x: hidden;
}

@keyframes gradient_anim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a:not(.nav-element):not(.active-nav-element):not(.slack-link):not(.metakgp-logo-link):not(.no-highlight) {
  color: var(--link_color);
  text-decoration: none;
}

a:hover:not(.nav-element):not(.active-nav-element):not(.slack-link):not(.metakgp-logo-link):not(.no-highlight) {
  color: #43a488;
  text-decoration: underline;
}

a:visited:not(.nav-element):not(.active-nav-element):not(.slack-link):not(.metakgp-logo-link):not(.no-highlight) {
  color: #e53c64;
}
