body {
  margin: 0;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* background: #191919; */
  background: linear-gradient(90deg, #28313b, #485461);
  /* background: linear-gradient(90deg, #2c3e50, #000000); */
  animation: gradient_anim 23s ease infinte;
  color: #fcfcfc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

@keyframes gradient_anim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:not(.nav-element):not(.active-nav-element):not(.slack-link) {
  color: #00FFFF;
  text-decoration: none;
}

a:hover:not(.nav-element):not(.active-nav-element):not(.slack-link) {
  color: #00BFFF;
  text-decoration: underline;
}

a:visited:not(.nav-element):not(.active-nav-element):not(.slack-link) {
  color: #FF00FF;
}

#root {
  min-height: 100vh;
  display: flex;
}
