.App {
  text-align: center;
}

/* Header Element Styling*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  padding-right: 3rem;
  padding-left: 3rem;
  gap: 3rem;
}

.nav-bar {
  float: right;
  display: flex;
  padding: 3px;
  border-style: solid;
  border-width: 2px;
  /* border-color: #ffffff66; */
  border-color: #fff;
  border-radius: 20px;
  /* background: #2f2f2f; */
  background: #000;
  backdrop-filter: blur(10px);
}

.nav-element {
  padding-left: 24px; 
  padding-right: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  /* color: #ffffff80; */
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: background 300ms, color 300ms;
  white-space: nowrap;
  overflow: hidden;
}

.nav-element:hover {
  background: #ffffff;
  color: #000000;
}

.metakgp-logo {
  float: left;
}

.bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Hero Section Styling */

.hero-container {
  display: flex;
  flex: space-between;
}

.main-header {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 900;
  text-align: left;
  font-family: "Titillium Web", sans-serif;
  line-height: 0.01;

}

.hero-header-container {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.hero-card-container {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 3rem;
}

.hero-description {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  text-align: left;
  /* color: #fcfcfcbf; */
  color: #fff;
}
