.App {
  text-align: center;
}

/* Header Element Styling*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  padding-right: 4rem;
  padding-left: 4rem;
  gap: 3rem;
}

.nav-bar {
  float: right;
  display: flex;
  padding: 3px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff66;
  border-radius: 20px;
  background: #2f2f2f;
  backdrop-filter: blur(10px);
}

.nav-element {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #ffffff80;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: background 300ms, color 300ms;
  white-space: nowrap;
  overflow: hidden;
}

.nav-element:hover {
  background: #ffffff;
  color: #000000;
}

.metakgp-logo {
  float: left;
}

.bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Hero Section Styling */

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
}

.main-header {
  text-transform: uppercase;
  font-weight: 900;
  text-align: left;
  font-family: "Titillium Web", sans-serif;
  line-height: 0.01;
  font-size: clamp(4rem, 5vw, 6rem);
}

.hero-header-container {
  padding: 0.75rem 4rem;
  padding-right: 0.5rem;
  white-space: nowrap;
  width: 50%;
}

.hero-description {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-align: left;
  color: #fcfcfcbf;
  text-wrap: wrap;
}

.hero-button-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 2rem 0;
}

.about-button {
  padding: 1rem;
  font-size: 1rem;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff66;
  border-radius: 20px;
  background: #2f2f2f;
  color: #fff;
  font-weight: 700;
  transition: background 300ms, color 300ms, scale 300ms;
}

.hero-image-container {
  margin: 0;
  margin-top: 2rem;
  max-width: 50%;
  padding: 0 4rem;
  height: auto;
}

.hero-image {
  max-width: 100%;
  max-height: 45vh;
  height: auto;
  margin: 0;
  padding: 0;
}

.about-button:hover {
  scale: 1.08;
}

.project-button {
  padding: 1rem;
  font-size: 1rem;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff66;
  border-radius: 20px;
  background: #fff;
  color: #000;
  font-weight: 700;
  transition: scale 300ms, background 300ms, color 300ms;
}

.project-button:hover {
  scale: 1.08;
}

/* Cards Styling */

.stats-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  margin: 0 4rem;
  gap: 1rem;
}

/* About Section Styling */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 0 4rem;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.about-title-container {
  text-align: right;
  width: 100%;
}

.about-title {
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Titillium Web", sans-serif;
  font-size: 4rem;
}

.about-left {
  width: 100%;
  padding: 8px;
}

.about-right {
  width: 100%;
  padding: 8px;
}

.grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 16px;
  border-radius: 8px;
}

.grid-1 {
  grid-column: span 2;
  grid-row: span 1;
  background-color: black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-2 {
  grid-column: span 2;
  grid-row: span 1;
  background-color: black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-3 {
  grid-column: span 3;
  grid-row: span 1;
  background-color: black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-4 {
  grid-column: span 1;
  grid-row: span 1;
  background-color: black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*Footer Section Styling*/
.footer-section{
  font-family: "Space Mono", monospace;
  display: flex;
  flex-wrap: wrap;
 background-color:  #1a1717;
 justify-content: center;
padding-top:5px ;
}
.footer-col{
  width: 33%;
}
.social-icons{
 display: flex;
  justify-content: center;
}
.social-icons a{
  text-decoration: none;
  padding:9px;
 
  margin:5px;
  border-radius: 25%;
}
.social-icons a i{
  font-size: 1.7rem;
  color: white;
  
}
.privacy-policy a{
  text-decoration: none;
 
}

/*hover effect on social media icons */
.social-icons a:hover{
  background-color: #fff;
  transition: .5s;
}
.social-icons a:hover i{
  color: black;
  transition: .5s;
}